<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="index.php" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
                <fileExtensions>
                    <remove fileExtension=".exe" />
                    <remove fileExtension=".doc" />
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".vb" allowed="false" />
                    <add fileExtension=".mdb" allowed="false" />
                    <add fileExtension=".config" allowed="false" />
                    <add fileExtension=".jsl" allowed="false" />
                    <add fileExtension=".webinfo" allowed="false" />
                    <add fileExtension=".asa" allowed="false" />
                    <add fileExtension=".asax" allowed="false" />
                    <add fileExtension=".browser" allowed="false" />
                    <add fileExtension=".skin" allowed="false" />
                    <add fileExtension=".ascx" allowed="false" />
                    <add fileExtension=".refresh" allowed="false" />
                    <add fileExtension=".sdm" allowed="false" />
                    <add fileExtension=".compiled" allowed="false" />
                    <add fileExtension=".dde" allowed="false" />
                    <add fileExtension=".dd" allowed="false" />
                    <add fileExtension=".rules" allowed="false" />
                    <add fileExtension=".cd" allowed="false" />
                    <add fileExtension=".sdmDocument" allowed="false" />
                    <add fileExtension=".dsprototype" allowed="false" />
                    <add fileExtension=".ssmap" allowed="false" />
                </fileExtensions>
                <denyQueryStringSequences>
                    <remove sequence="cast(" />
                    <add sequence="@@version" />
                    <add sequence="sqlmap" />
                    <add sequence="Connect()" />
                    <add sequence="cast(" />
                    <add sequence="char(" />
                    <add sequence="bchar(" />
                    <add sequence="sysdatabases" />
                    <add sequence="SeLeCt" />
                    <add sequence="convert(" />
                    <add sequence="DBNETLIB" />
                    <add sequence="Connect" />
                    <add sequence="int%2c" />
                    <add sequence="sysobjects" />
                    <add sequence="count(" />
                    <add sequence="--" />
                    <add sequence="." />
                    <add sequence="@" />
                    <add sequence="alter" />
                    <add sequence="begin" />
                    <add sequence="decclare" />
                    <add sequence="end" />
                    <add sequence="kil" />
                    <add sequence="drop" />
                    <add sequence="insert" />
                    <add sequence="fetch" />
                    <add sequence="table" />
                    <add sequence="exec" />
                    <add sequence="/*" />
                    <add sequence="sys" />
                    <add sequence="update" />
                </denyQueryStringSequences>
                <denyUrlSequences>
                </denyUrlSequences>
                <filteringRules>
                    <remove name="cast(" />
                    <filteringRule name="sql injection" scanUrl="false" scanQueryString="true">
                        <appliesTo>
                            <add fileExtension=".php" />
                            <add fileExtension=".asp" />
                            <add fileExtension=".aspx" />
                        </appliesTo>
                        <denyStrings>
                            <add string="--" />
                            <add string="/*" />
                            <add string=";" />
                            <add string="@" />
                            <add string="1=1" />
                            <add string="'1'='1'" />
                        </denyStrings>
                    </filteringRule>
                </filteringRules>
                <hiddenSegments>
                    <remove segment="web.config" />
                </hiddenSegments>
                <alwaysAllowedQueryStrings>
                </alwaysAllowedQueryStrings>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
